@using System.Linq
@inject MitternachtWeb.Areas.Analysis.Services.UnknownKeyRequestsService UnknownKeyRequestsService
@{
	Layout = "_Layout";
	ViewData["Title"] = "Analysen";
}

<div class="row">
	<nav class="navbar navbar-light col-md-3 col-xl-2">
		<ul class="navbar-nav flex-grow-1 align-self-start">
			<li class="nav-item">
				<a class="nav-link d-flex justify-content-between align-items-center" asp-area="Analysis" asp-controller="UnknownKeyRequests" asp-action="Index">
					Unbekannte Translationkeys
					<span class="badge badge-danger badge-pill">@UnknownKeyRequestsService.UnknownKeyRequests.Values.Aggregate(0ul, (r, i) => r+i)</span>
				</a>
			</li>
		</ul>
	</nav>
	<div class="col-md-9 col-xl-10 py-md-3 pl-md-5">
		@RenderBody()
	</div>
</div>
