root=true
# Entfernen Sie die folgende Zeile, wenn Sie EDITORCONFIG-Einstellungen von höheren Verzeichnissen vererben möchten.

# C#-Dateien
[*.cs]

#### Wichtige EditorConfig-Optionen ####

# Einzüge und Abstände
indent_size=4
indent_style=tab
tab_width=4

# Einstellungen für neue Zeilen
end_of_line=crlf
insert_final_newline=false

#### .NET-Codierungskonventionen ####

# this.- und Me.-Einstellungen

# Einstellungen für Sprachschlüsselwörter und BCL-Typen

# Einstellungen für Klammern
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:silent
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:silent
dotnet_style_parentheses_in_other_operators=never_if_unnecessary:silent
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:silent

# Einstellungen für Modifizierer

# Einstellungen für Ausdrucksebene
csharp_style_deconstructed_variable_declaration=true:vorschlag
csharp_style_inlined_variable_declaration=true:vorschlag
csharp_style_throw_expression=true:vorschlag
dotnet_style_coalesce_expression=true:vorschlag
dotnet_style_collection_initializer=true:vorschlag
dotnet_style_explicit_tuple_names=true:vorschlag
dotnet_style_null_propagation=true:vorschlag
dotnet_style_object_initializer=true:vorschlag
dotnet_style_prefer_auto_properties=true:silent
dotnet_style_prefer_compound_assignment=true:vorschlag
dotnet_style_prefer_conditional_expression_over_assignment=true:vorschlag
dotnet_style_prefer_conditional_expression_over_return=true:vorschlag
dotnet_style_prefer_inferred_anonymous_type_member_names=true:vorschlag
dotnet_style_prefer_inferred_tuple_names=true:vorschlag
dotnet_style_prefer_is_null_check_over_reference_equality_method=true:vorschlag

# Einstellungen für Felder
dotnet_style_readonly_field=true:vorschlag

# Einstellungen für Parameter
dotnet_code_quality_unused_parameters=all:vorschlag

#### C#-Codierungskonventionen ####

# Var-Einstellungen

# Ausdruckskörpermember
csharp_style_expression_bodied_constructors=true:none
csharp_style_expression_bodied_indexers=true:silent
csharp_style_expression_bodied_lambdas=true:silent
csharp_style_expression_bodied_local_functions=true:silent
csharp_style_expression_bodied_methods=true:none
csharp_style_expression_bodied_operators=true:silent

# Einstellungen für den Musterabgleich
csharp_style_pattern_matching_over_as_with_null_check=true:vorschlag
csharp_style_pattern_matching_over_is_with_cast_check=true:vorschlag

# Einstellungen für NULL-Überprüfung
csharp_style_conditional_delegate_call=true:vorschlag

# Einstellungen für Modifizierer
csharp_prefer_static_local_function=true:vorschlag
csharp_preferred_modifier_order=public, private, protected, internal, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, volatile, async:suggestion

# Einstellungen für Codeblöcke
csharp_prefer_braces=false:none
csharp_prefer_simple_using_statement=true:vorschlag

# Einstellungen für Ausdrucksebene
csharp_prefer_simple_default_expression=true:vorschlag
csharp_style_pattern_local_over_anonymous_function=true:vorschlag
csharp_style_prefer_index_operator=true:vorschlag
csharp_style_prefer_range_operator=true:vorschlag
csharp_style_unused_value_assignment_preference=discard_variable:vorschlag
csharp_style_unused_value_expression_statement_preference=discard_variable:silent

#### C#-Formatierungsregeln ####

# Einstellungen für neue Zeilen
csharp_new_line_before_catch=false
csharp_new_line_before_else=false
csharp_new_line_before_finally=false
csharp_new_line_before_members_in_anonymous_types=true
csharp_new_line_before_members_in_object_initializers=true
csharp_new_line_before_open_brace=none
csharp_new_line_between_query_expression_clauses=false

# Einstellungen für Einrückung
csharp_indent_block_contents=true
csharp_indent_braces=false
csharp_indent_case_contents=true
csharp_indent_case_contents_when_block=false
csharp_indent_labels=one_less_than_current
csharp_indent_switch_labels=true

# Einstellungen für Abstände
csharp_space_after_colon_in_inheritance_clause=true
csharp_space_after_comma=true
csharp_space_after_dot=false
csharp_space_after_keywords_in_control_flow_statements=false
csharp_space_after_semicolon_in_for_statement=true
csharp_space_around_binary_operators=before_and_after
csharp_space_around_declaration_statements=ignore
csharp_space_before_colon_in_inheritance_clause=true
csharp_space_before_comma=false
csharp_space_before_dot=false
csharp_space_before_open_square_brackets=false
csharp_space_before_semicolon_in_for_statement=false
csharp_space_between_empty_square_brackets=false
csharp_space_between_method_call_empty_parameter_list_parentheses=false
csharp_space_between_method_call_name_and_opening_parenthesis=false
csharp_space_between_method_call_parameter_list_parentheses=false
csharp_space_between_method_declaration_empty_parameter_list_parentheses=false
csharp_space_between_method_declaration_name_and_open_parenthesis=false
csharp_space_between_method_declaration_parameter_list_parentheses=false
csharp_space_between_parentheses=false
csharp_space_between_square_brackets=false

# Einstellungen für Umbrüche
csharp_preserve_single_line_blocks=true
csharp_preserve_single_line_statements=false

# Standard properties
max_line_length=0

# ReSharper properties
resharper_align_multiline_argument=true
resharper_align_multiline_calls_chain=true
resharper_align_multiline_for_stmt=true
resharper_align_multiline_parameter=true
resharper_align_multiple_declaration=true
resharper_align_multline_type_parameter_constrains=true
resharper_align_tuple_components=true
resharper_allow_comment_after_lbrace=true
resharper_braces_redundant=true
resharper_csharp_blank_lines_around_region=0
resharper_csharp_blank_lines_inside_region=0
resharper_csharp_extra_spaces=leave_multiple
resharper_csharp_insert_final_newline=true
resharper_csharp_stick_comment=false
resharper_csharp_wrap_lines=false
resharper_csharp_wrap_multiple_declaration_style=wrap_if_long
resharper_enforce_line_ending_style=true
resharper_force_attribute_style=join
resharper_indent_nested_fixed_stmt=true
resharper_indent_nested_foreach_stmt=true
resharper_indent_nested_for_stmt=true
resharper_indent_nested_lock_stmt=true
resharper_indent_nested_usings_stmt=true
resharper_indent_nested_while_stmt=true
resharper_indent_preprocessor_region=no_indent
resharper_int_align_assignments=true
resharper_int_align_comments=true
resharper_int_align_fields=true
resharper_int_align_invocations=true
resharper_int_align_methods=true
resharper_int_align_nested_ternary=true
resharper_int_align_parameters=true
resharper_int_align_properties=true
resharper_int_align_switch_expressions=true
resharper_int_align_switch_sections=true
resharper_int_align_variables=true
resharper_keep_existing_attribute_arrangement=true
resharper_keep_existing_declaration_block_arrangement=false
resharper_keep_existing_embedded_block_arrangement=false
resharper_keep_existing_expr_member_arrangement=false
resharper_keep_existing_invocation_parens_arrangement=false
resharper_keep_existing_switch_expression_arrangement=false
resharper_local_function_body=expression_body
resharper_max_attribute_length_for_same_line=0
resharper_max_enum_members_on_line=1
resharper_parentheses_non_obvious_operations=
resharper_parentheses_redundancy_style=remove
resharper_place_attribute_on_same_line=False
resharper_place_expr_method_on_single_line=False
resharper_place_expr_property_on_single_line=True
resharper_place_linq_into_on_new_line=false
resharper_place_simple_switch_expression_on_single_line=true
resharper_prefer_explicit_discard_declaration=true
resharper_sort_usings_with_system_first=false
resharper_use_indent_from_vs=false
resharper_wrap_before_arrow_with_expressions=true
resharper_wrap_for_stmt_header_style=wrap_if_long
resharper_wrap_multiple_type_parameter_constraints_style=wrap_if_long

# ReSharper inspection severities
resharper_arrange_accessor_owner_body_highlighting=none
resharper_arrange_this_qualifier_highlighting=none
resharper_arrange_type_member_modifiers_highlighting=none
resharper_arrange_type_modifiers_highlighting=none
resharper_built_in_type_reference_style_for_member_access_highlighting=none
resharper_built_in_type_reference_style_highlighting=none
resharper_class_never_instantiated_global_highlighting=none
resharper_identifier_typo_highlighting=none
resharper_inconsistent_naming_highlighting=none
resharper_member_can_be_made_static_local_highlighting=none
resharper_member_can_be_private_global_highlighting=none
resharper_parameter_type_can_be_enumerable_local_highlighting=none
resharper_redundant_base_qualifier_highlighting=none
resharper_string_literal_typo_highlighting=none
resharper_suggest_var_or_type_built_in_types_highlighting=none
resharper_suggest_var_or_type_elsewhere_highlighting=none
resharper_suggest_var_or_type_simple_types_highlighting=none
resharper_unused_member_global_highlighting=none
resharper_unused_member_in_super_global_highlighting=none
resharper_web_config_module_not_resolved_highlighting=warning
resharper_web_config_type_not_resolved_highlighting=warning
resharper_web_config_wrong_module_highlighting=warning


[*.{appxmanifest,asax,ascx,aspx,build,cs,cshtml,dtd,fs,fsi,fsscript,fsx,master,ml,mli,nuspec,razor,resw,resx,skin,vb,xaml,xamlx,xoml,xsd}]
indent_style=tab
indent_size=tab
tab_width=4
