[submodule "src/GommeHDnetForumAPI"]
	path = src/GommeHDnetForumAPI
	url = https://github.com/expeehaa/GommeHDnetForumAPI
[submodule "src/MinecraftQuery"]
	path = src/MinecraftQuery
	url = https://github.com/expeehaa/MinecraftQuery-CSharp
