@{
	Layout = "_Layout";
	ViewData["Title"] = "Guild";
}

<div class="row">
	<nav class="col-md-3 col-xl-2">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link text-dark" asp-area="Guild" asp-controller="Stats" asp-action="Index">Statistiken</a>
			</li>
			@if(ViewBag.PermissionReadQuotes || ViewBag.PermissionReadVerifications) {
				<li><hr /></li>
			}
			@if(ViewBag.PermissionReadQuotes) {
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="Guild" asp-controller="Quotes" asp-action="Index">Zitate</a>
				</li>
			}
			@if(ViewBag.PermissionReadVerifications) {
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="Guild" asp-controller="Verifications" asp-action="Index">Verifizierungen</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="Guild" asp-controller="Verifications" asp-action="UnverifiedUsers">Nicht-verifizierte Nutzer</a>
				</li>
			}
			@if(ViewBag.PermissionReadWatchedForumAccounts) {
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="Guild" asp-controller="WatchedForumAccounts" asp-action="Index">WatchedForumAccounts</a>
				</li>
			}
			@if(ViewBag.PermissionReadMutes || ViewBag.PermissionReadWarns) {
				<li><hr /></li>
			}
			@if(ViewBag.PermissionReadMutes) {
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="Guild" asp-controller="Mutes" asp-action="Index">Mutes</a>
				</li>
			}
			@if(ViewBag.PermissionReadWarns) {
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="Guild" asp-controller="Warns" asp-action="Index">Warns</a>
				</li>
			}
			@if(ViewBag.PermissionReadGuildConfig) {
				<li><hr /></li>
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="Guild" asp-controller="GuildConfig" asp-action="Edit">GuildConfig</a>
				</li>
			}
		</ul>
	</nav>
	
	<div class="col-md-9 col-xl-10 py-md-3 pl-md-5">
		<div>
			<h3>
				Server "@ViewBag.Guild.Name" (ID @ViewBag.GuildId)
			</h3>
		</div>
		<div>
			@RenderBody()
		</div>
	</div>
</div>
