<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] | MitternachtWeb</title>
	<link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap-dark-5/dist/css/bootstrap-nightfall.min.css" media="(prefers-color-scheme: dark)" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MitternachtWeb</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						@if(ViewBag.DiscordUser != null) {
							<li class="nav-item">
								<a class="nav-link" asp-area="" asp-controller="GuildList" asp-action="Index">Serverliste</a>
							</li>
							@if(ViewBag.DiscordUser.BotPagePermissions.HasFlag(BotLevelPermission.ReadBotConfig)) {
								<li class="nav-item">
									<a class="nav-link" asp-area="" asp-controller="BotConfig" asp-action="Index">BotConfig</a>
								</li>
							}
							<li class="nav-item">
								<a class="nav-link" asp-area="Analysis" asp-controller="Analysis" asp-action="Index">Analysen</a>
							</li>
						}
					</ul>
					<div class="navbar-nav">
						<partial name="_NavbarLogin" />
					</div>
				</div>
			</div>
		</nav>
	</header>
	<div class="container-fluid">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2020 - MitternachtWeb
		</div>
	</footer>
	<script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
