@if(ViewBag.DiscordUser == null) {
	<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
} else {
	<span class="navbar-text">
		@ViewBag.DiscordUser.User
	</span>
	<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
}
