@{
	var DiscordUser = UserHelper.GetDiscordUser(User);
}

@if(DiscordUser == null) {
	<a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
} else {
	@DiscordUser.User
}
